<!DOCTYPE html>
<html>

<head>
	<title>Tp2 Objet Connectés</title>
	<h1>Contrôle d'une porte d'aération d'une serre</h1>
	<style>
		body {
			background-color: rgb(51, 51, 51);
		}

		h1 {
			color: white;
		}

		.divInformations {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}

		.divControle {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}

		#manInput{
			width:50px;
			height:40px;
		}
		button{
			width:100%;
			min-width: 100px;
			border-radius: 10px;
		}

		.divProgress {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;


		}

		.divStatus {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}
	</style>
</head>

<body>
	&emsp;

	<div class="divInformations">
		<table>
			<tr>
				<th>Informations</th>
			</tr>
			<tr>
				<td>Température ambiante :</td>
				<td id="temp"></td>
			</tr>
			<tr>
				<td>Distance :</td>
				<td id="dist"></td>
			</tr>
		</table>
	</div>

	&emsp;

	<div class="divControle">
		<table>
			<tr>
				<th>Controle</th>
			</tr>
			<tr>
				<td><button type="button" id="submitAuto">
						<p>Automatique</p>
					</button></td>
			</tr>
			<tr>
				<td><button type="button" id="submitMan">
						<p>Manuelle</p>
					</button></td>
				<td><input type="number" id="manInput"></td>
			</tr>
			<tr>
				<td><button type="button" id="submitOpen">
						<p>Ouvrir</p>
					</button></td>
				<td><button type="button" id="submitClose">
						<p>Fermer</p>
					</button></td>
			</tr>
		</table>
	</div>

	&emsp;

	<div class="divProgress">
		<table>
			<tr>
				<th>Progress</th>
			</tr>
			<tr>
				<td><label for="file">Pourcentage d'ouverture de la porte: </label><progress id="file" max="100"
						value="40" max="100"> 40% </progress></td>
			</tr>
		</table>
	</div>

	&emsp;

	<div class="divStatus">
		<table>
			<tr>
				<th>Status</th>
			</tr>
			<tr>
				<td><button type="button">
						<p>Graphique de températures et de pourcentages par période</p>
					</button></td>
			</tr>
			<tr>
				<td>
					<p>Alerte : La porte est ouverte plus que nécessaire, elle doit être ouverte à : 33%</p>
				</td>
			</tr>
		</table>
	</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	socket.on("message", (arg) => {
		console.log(arg);

		updateDOM(arg);
	});
	function updateDOM(data) {
		document.getElementById("temp").innerHTML = data.temperature;
		document.getElementById("dist").innerHTML = data.ouverture;
	}
	
	document.getElementById('submitAuto').addEventListener('click', function() {
    	var value = document.getElementById('manInput').value;
		submitValues("auto");
	}); 
	document.getElementById('submitMan').addEventListener('click', function() {
    	var value = document.getElementById('manInput').value;
		if(value > 100){
			value = 100;
		}
		submitValues(value);
	}); 
	document.getElementById('submitOpen').addEventListener('click', function() {
    	submitValues(100);
	}); 
	document.getElementById('submitClose').addEventListener('click', function() {
    	submitValues(0);
	}); 

	function submitValues(value){
		socket.emit('submitValues', value);
		console.log("value: " + value);
	}

</script>

</html>