<!DOCTYPE html>
<html>

<head>
	<title>Tp2 Objet Connectés</title>
	<h1>Contrôle d'une porte d'aération d'une serre</h1>
	<style>
		.divInformations {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}

		.divControle {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}

		.divProgress {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}

		.divStatus {
			border: 5px outset black;
			background-color: grey;
			text-align: left;
			width: 300px;
			color: white;
		}
	</style>
</head>

<body>
	&emsp;

	<div class="divInformations">
		<table>
			<tr>
				<th>Informations</th>
			</tr>
			<tr>
				<td>Température ambiante :</td>
				<td id="temp">hi</td>
			</tr>
			<tr>
				<td>Distance :</td>
			</tr>
		</table>
	</div>

	&emsp;

	<div class="divControle">
		<table>
			<tr>
				<th>Controle</th>
			</tr>
			<tr>
				<td><button type="button">
						<p>Automatique</p>
					</button></td>
			</tr>
			<tr>
				<td><button type="button">
						<p>Manuelle</p>
					</button></td>
				<td><input type="number"></td>
			</tr>
			<tr>
				<td><button type="button">
						<p>Ouvrir</p>
					</button></td>
				<td><button type="button">
						<p>Fermer</p>
					</button></td>
			</tr>
		</table>
	</div>

	&emsp;

	<div class="divProgress">
		<table>
			<tr>
				<th>Progress</th>
			</tr>
			<tr>
				<td><label for="file">Pourcentage d'ouverture de la porte: </label><progress id="file" max="100"
						value="40"> 40% </progress></td>
			</tr>
		</table>
	</div>

	&emsp;

	<div class="divStatus">
		<table>
			<tr>
				<th>Status</th>
			</tr>
			<tr>
				<td><button type="button">
						<p>Graphique de températures et de pourcentages par période</p>
					</button></td>
			</tr>
			<tr>
				<td>
					<p>Alerte : La porte est ouverte plus que nécessaire, elle doit être ouverte à : 33%</p>
				</td>
			</tr>
		</table>
	</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();
	socket.on("message", (arg) => {
		console.log(arg); // world
	});
</script>

</html>